<!-- 
  *
  * Arquivo com modelos prontos do Angular Material e FlexLayout
  *
 -->

<div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="30px">
  <h1>Projetos Angular</h1>

  <button mat-button mat-raised-button color="principal">text</button>

  <mat-slide-toggle>text</mat-slide-toggle>

  <mat-icon>home</mat-icon>

  <button
    mat-icon-button
    color="primary"
    aria-label="Botão de ícone de exemplo com um ícone de casa "
  >
    <mat-icon> home </mat-icon>
  </button>
  <button
    mat-icon-button
    color="accent"
    aria-label="Exemplo de botão de ícone com um ícone de menu"
  >
    <mat-icon> menu </mat-icon>
  </button>
</div>
